In [1]:
# import os module 
import os 
  
# change the current working directory  
# to specified path 
os.chdir('E:\\mypractice\\Python\\Jigsaw\\capstone') 
  
# varify the path using getcwd() 
cwd = os.getcwd() 
  
# print the current directory 
print("Current working directory is:", cwd)

Current working directory is: E:\mypractice\Python\Jigsaw\capstone

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("sampletelecomfinal (1).csv",header = 0)

In [4]:
data.shape

(13259, 79)

In [5]:
data_quality = pd.DataFrame(data.dtypes)
data_quality["variable"] = data_quality.index

In [6]:
data_quality.head()

                   0     variable
mou_Mean     float64     mou_Mean
totmrc_Mean  float64  totmrc_Mean
rev_Range    float64    rev_Range
mou_Range    float64    mou_Range
change_mou   float64   change_mou

In [7]:
data[data_quality['variable'][0]].isnull().sum()

26

In [8]:
missing = pd.DataFrame(data.isnull().sum())
data_quality['missing'] = missing[0]

data_quality['number of records'] = len(data)
data_quality['missing pct'] = data_quality['missing']/data_quality['number of records']

In [9]:
data_quality.head()

                   0     variable  missing  number of records  missing pct
mou_Mean     float64     mou_Mean       26              13259     0.001961
totmrc_Mean  float64  totmrc_Mean       26              13259     0.001961
rev_Range    float64    rev_Range       26              13259     0.001961
mou_Range    float64    mou_Range       26              13259     0.001961
change_mou   float64   change_mou       71              13259     0.005355

In [10]:
data_relevant = data_quality[data_quality['missing pct']<=0.25]

In [11]:
variables = data_relevant.variable.tolist()
print("Number of Relevant Variables is : " + str(len(variables)))
print(variables)

Number of Relevant Variables is : 66
['mou_Mean', 'totmrc_Mean', 'rev_Range', 'mou_Range', 'change_mou', 'drop_blk_Mean', 'drop_vce_Range', 'owylis_vce_Range', 'mou_opkv_Range', 'months', 'totcalls', 'income', 'eqpdays', 'custcare_Mean', 'callwait_Mean', 'iwylis_vce_Mean', 'callwait_Range', 'ccrndmou_Range', 'adjqty', 'ovrrev_Mean', 'rev_Mean', 'ovrmou_Mean', 'comp_vce_Mean', 'plcd_vce_Mean', 'avg3mou', 'avgmou', 'avg3qty', 'avgqty', 'avg6mou', 'avg6qty', 'crclscod', 'asl_flag', 'prizm_social_one', 'area', 'refurb_new', 'hnd_webcap', 'marital', 'ethnic', 'age1', 'age2', 'models', 'hnd_price', 'actvsubs', 'uniqsubs', 'forgntvl', 'opk_dat_Mean', 'mtrcycle', 'truck', 'roam_Mean', 'recv_sms_Mean', 'blck_dat_Mean', 'mou_pead_Mean', 'churn', 'car_buy', 'csa', 'da_Mean', 'da_Range', 'datovr_Mean', 'datovr_Range', 'drop_dat_Mean', 'drop_vce_Mean', 'adjmou', 'totrev', 'adjrev', 'avgrev', 'Customer_ID']

In [12]:
data = data[variables]
print(data.shape)

(13259, 66)

In [13]:


cat_variables = ['actvsubs', 'age1', 'age2', 'area', 'asl_flag', 'car_buy',
                 'crclscod', 'csa', 'ethnic', 'forgntvl', 'hnd_price', 'hnd_webcap',
                 'income', 'marital','models', 'mtrcycle', 'prizm_social_one',
                 'refurb_new', 'truck', 'uniqsubs']

# ,'Customer_ID', 'churn'


numeric_variables = ['mou_Mean', 'totmrc_Mean', 'rev_Range', 'mou_Range', 'change_mou',
       'drop_blk_Mean', 'drop_vce_Range', 'owylis_vce_Range', 'mou_opkv_Range',
       'months', 'totcalls', 'eqpdays', 'custcare_Mean',
       'callwait_Mean', 'iwylis_vce_Mean', 'callwait_Range', 'ccrndmou_Range',
       'adjqty', 'ovrrev_Mean', 'rev_Mean', 'ovrmou_Mean', 'comp_vce_Mean',
       'plcd_vce_Mean', 'avg3mou', 'avgmou', 'avg3qty', 'avgqty', 'avg6mou',
       'avg6qty','opk_dat_Mean', 'roam_Mean', 'recv_sms_Mean',
       'blck_dat_Mean', 'mou_pead_Mean', 'da_Mean',
       'da_Range', 'datovr_Mean', 'datovr_Range', 'drop_dat_Mean',
       'drop_vce_Mean', 'adjmou', 'totrev', 'adjrev', 'avgrev']

In [14]:
for variables in numeric_variables:
    data[variables] = data[variables].fillna(np.mean(data[variables]))

In [15]:
print(data.shape)
print(len(cat_variables)+len(numeric_variables))

(13259, 66)
64

In [16]:
data.head()

,mou_Mean,totmrc_Mean,rev_Range,mou_Range,change_mou,drop_blk_Mean,drop_vce_Range,owylis_vce_Range,mou_opkv_Range,months,...,da_Range,datovr_Mean,datovr_Range,drop_dat_Mean,drop_vce_Mean,adjmou,totrev,adjrev,avgrev,Customer_ID
0,3522.25,104.365,148.15,1329.0,-616.25,22.000000,5,73,1052.43,16,...,3.96,0.000,0.00,0.0,20.333333,30409.0,2305.60,2189.80,145.99,1039115
1,861.25,45.030,163.77,1018.0,-216.25,47.000000,51,88,268.46,14,...,1.98,0.195,0.39,0.0,42.000000,4754.0,755.63,695.26,53.48,1045943
2,994.50,64.990,118.79,823.0,-393.50,11.000000,4,11,20.22,20,...,0.99,0.000,0.00,0.0,4.333333,15862.0,1443.86,1360.63,71.61,1046747
3,305.25,39.990,0.78,163.0,49.75,0.000000,0,14,81.87,12,...,0.00,0.000,0.00,0.0,0.000000,3174.0,397.42,337.44,30.68,1061744
4,924.75,49.990,111.57,472.0,119.25,13.666667,10,51,54.81,13,...,4.95,0.000,0.00,0.0,12.000000,8977.0,1209.26,1126.03,93.84,1058025

In [17]:
# Missing values treatment for categorical variable


#data[cat_variables[0]].isnull().sum() no missing in actvsubs
data[cat_variables[1]] = data[cat_variables[1]].fillna("70")
data[cat_variables[2]] = data[cat_variables[2]].fillna("82")
data[cat_variables[3]] = data[cat_variables[3]].fillna("NoChurn")
#data[cat_variables[4]] = data[cat_variables[4]].fillna() - no missing
#data[cat_variables[5]] = data[cat_variables[5]].fillna() - omit car_buy variable
#data[cat_variables[6]] = data[cat_variables[6]].fillna() - no missing crclscod
data[cat_variables[7]] = data[cat_variables[7]].fillna("Unknown") #as all na's are churn = 1
data[cat_variables[8]] = data[cat_variables[8]].fillna("F")#ethnic
#data[cat_variables[9]] = data[cat_variables[9]].fillna("70")#forgntvl - omit variable as churn rates are same for both levels
data[cat_variables[10]] = data[cat_variables[10]].fillna("499.99")#hnd price na filled with nearest churn percentage category
data[cat_variables[11]] = data[cat_variables[11]].fillna("WC")
data[cat_variables[12]] = data[cat_variables[12]].fillna("9")
data[cat_variables[13]] = data[cat_variables[13]].fillna("S")
#data[cat_variables[14]] = data[cat_variables[14]].fillna("") -no missing in models
data[cat_variables[15]] = data[cat_variables[15]].fillna("0")
data[cat_variables[16]] = data[cat_variables[16]].fillna("S")
#data[cat_variables[17]] = data[cat_variables[17]].fillna("")no missing in referb_new
data[cat_variables[18]] = data[cat_variables[18]].fillna("1")
#data[cat_variables[19]] = data[cat_variables[19]].fillna("") - no missing in uniqsubs

In [18]:
for variables in cat_variables:
    data[variables] = data[variables].astype('category')

In [19]:
data.dtypes

mou_Mean             float64
totmrc_Mean          float64
rev_Range            float64
mou_Range            float64
change_mou           float64
drop_blk_Mean        float64
drop_vce_Range         int64
owylis_vce_Range       int64
mou_opkv_Range       float64
months                 int64
totcalls               int64
income              category
eqpdays                int64
custcare_Mean        float64
callwait_Mean        float64
iwylis_vce_Mean      float64
callwait_Range         int64
ccrndmou_Range         int64
adjqty                 int64
ovrrev_Mean          float64
rev_Mean             float64
ovrmou_Mean          float64
comp_vce_Mean        float64
plcd_vce_Mean        float64
avg3mou                int64
avgmou               float64
avg3qty                int64
avgqty               float64
avg6mou              float64
avg6qty              float64
                      ...
marital             category
ethnic              category
age1                category
age2                category
models              category
hnd_price           category
actvsubs            category
uniqsubs            category
forgntvl            category
opk_dat_Mean         float64
mtrcycle            category
truck               category
roam_Mean            float64
recv_sms_Mean        float64
blck_dat_Mean        float64
mou_pead_Mean        float64
churn                  int64
car_buy             category
csa                 category
da_Mean              float64
da_Range             float64
datovr_Mean          float64
datovr_Range         float64
drop_dat_Mean        float64
drop_vce_Mean        float64
adjmou               float64
totrev               float64
adjrev               float64
avgrev               float64
Customer_ID            int64
Length: 66, dtype: object

In [20]:
missing_check = data.isnull().sum()
print(missing_check.sum())
print(missing_check[:5])

428
mou_Mean       0
totmrc_Mean    0
rev_Range      0
mou_Range      0
change_mou     0
dtype: int64

In [21]:
data['vce_comp_pct'] = data['comp_vce_Mean']/data['plcd_vce_Mean']
data['vce_comp_pct'] = data['vce_comp_pct'].fillna(0)

In [22]:
missing_check = data.isnull().sum()
print(missing_check.sum())
print(missing_check)

428
mou_Mean              0
totmrc_Mean           0
rev_Range             0
mou_Range             0
change_mou            0
drop_blk_Mean         0
drop_vce_Range        0
owylis_vce_Range      0
mou_opkv_Range        0
months                0
totcalls              0
income                0
eqpdays               0
custcare_Mean         0
callwait_Mean         0
iwylis_vce_Mean       0
callwait_Range        0
ccrndmou_Range        0
adjqty                0
ovrrev_Mean           0
rev_Mean              0
ovrmou_Mean           0
comp_vce_Mean         0
plcd_vce_Mean         0
avg3mou               0
avgmou                0
avg3qty               0
avgqty                0
avg6mou               0
avg6qty               0
                   ...
ethnic                0
age1                  0
age2                  0
models                0
hnd_price             0
actvsubs              0
uniqsubs              0
forgntvl            214
opk_dat_Mean          0
mtrcycle              0
truck                 0
roam_Mean             0
recv_sms_Mean         0
blck_dat_Mean         0
mou_pead_Mean         0
churn                 0
car_buy             214
csa                   0
da_Mean               0
da_Range              0
datovr_Mean           0
datovr_Range          0
drop_dat_Mean         0
drop_vce_Mean         0
adjmou                0
totrev                0
adjrev                0
avgrev                0
Customer_ID           0
vce_comp_pct          0
Length: 67, dtype: int64

In [23]:
data.shape

(13259, 67)

In [24]:
#feature engineering - target guided ordinal encoding

for variable in cat_variables:
    variable_dict = {k:i for i,k in enumerate(data.groupby([variable])['churn'].mean().sort_values().index,0)}
    data.loc[:,variable] = data.loc[:,variable].map(variable_dict)

In [25]:
data = data.drop(["car_buy","forgntvl"],axis = 1)

In [26]:
data.shape

(13259, 65)

In [27]:
data.columns

Index(['mou_Mean', 'totmrc_Mean', 'rev_Range', 'mou_Range', 'change_mou',
       'drop_blk_Mean', 'drop_vce_Range', 'owylis_vce_Range', 'mou_opkv_Range',
       'months', 'totcalls', 'income', 'eqpdays', 'custcare_Mean',
       'callwait_Mean', 'iwylis_vce_Mean', 'callwait_Range', 'ccrndmou_Range',
       'adjqty', 'ovrrev_Mean', 'rev_Mean', 'ovrmou_Mean', 'comp_vce_Mean',
       'plcd_vce_Mean', 'avg3mou', 'avgmou', 'avg3qty', 'avgqty', 'avg6mou',
       'avg6qty', 'crclscod', 'asl_flag', 'prizm_social_one', 'area',
       'refurb_new', 'hnd_webcap', 'marital', 'ethnic', 'age1', 'age2',
       'models', 'hnd_price', 'actvsubs', 'uniqsubs', 'opk_dat_Mean',
       'mtrcycle', 'truck', 'roam_Mean', 'recv_sms_Mean', 'blck_dat_Mean',
       'mou_pead_Mean', 'churn', 'csa', 'da_Mean', 'da_Range', 'datovr_Mean',
       'datovr_Range', 'drop_dat_Mean', 'drop_vce_Mean', 'adjmou', 'totrev',
       'adjrev', 'avgrev', 'Customer_ID', 'vce_comp_pct'],
      dtype='object')

In [28]:

import random
random.seed(400)


from sklearn.model_selection import train_test_split as tts

X_train,X_test,y_train,y_test = tts(data.drop('churn',axis=1),data.churn,test_size = 0.25, random_state = 1000)

In [29]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(9944, 64)
(9944,)
(3315, 64)
(3315,)

In [30]:
from sklearn.ensemble import RandomForestClassifier


i,j = 500,9
reg  = RandomForestClassifier(n_estimators=i,max_depth =j ,oob_score=True,random_state=400,bootstrap=True)
reg.fit(X_train.drop("Customer_ID",axis=1),y_train)

E:\Anaconda\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=9, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=True, random_state=400, verbose=0, warm_start=False)

In [31]:
reg.oob_score_

0.7648833467417538

In [32]:
y_pred = pd.DataFrame(reg.predict_proba(X_test.drop("Customer_ID",axis=1)))
y_pred = y_pred[1]
y_pred1 = (y_pred>0.25)
y_pred1 = y_pred1.astype('int')

In [33]:
y_pred1[:5]

0    0
1    0
2    0
3    0
4    1
Name: 1, dtype: int32

In [34]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred1)
print((cm[0,0]+cm[1,1])/cm.sum())

0.6591251885369532

In [35]:
from sklearn.metrics import roc_auc_score
print("roc_auc_score:")
print(roc_auc_score(y_test, y_pred1))

roc_auc_score:
0.6513555463576158

In [36]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import auc
from sklearn.metrics import roc_curve

In [37]:
print("Classification Report:")
print(classification_report(y_test, y_pred1))

print("Accuracy Score is:")
print(accuracy_score(y_test, y_pred1))

Classification Report:
             precision    recall  f1-score   support

          0       0.86      0.67      0.75      2560
          1       0.36      0.64      0.46       755

avg / total       0.75      0.66      0.68      3315

Accuracy Score is:
0.6591251885369532

In [38]:
pd.DataFrame(y_pred1)[1].value_counts()

0    1978
1    1337
Name: 1, dtype: int64

In [39]:
X_test.columns

Index(['mou_Mean', 'totmrc_Mean', 'rev_Range', 'mou_Range', 'change_mou',
       'drop_blk_Mean', 'drop_vce_Range', 'owylis_vce_Range', 'mou_opkv_Range',
       'months', 'totcalls', 'income', 'eqpdays', 'custcare_Mean',
       'callwait_Mean', 'iwylis_vce_Mean', 'callwait_Range', 'ccrndmou_Range',
       'adjqty', 'ovrrev_Mean', 'rev_Mean', 'ovrmou_Mean', 'comp_vce_Mean',
       'plcd_vce_Mean', 'avg3mou', 'avgmou', 'avg3qty', 'avgqty', 'avg6mou',
       'avg6qty', 'crclscod', 'asl_flag', 'prizm_social_one', 'area',
       'refurb_new', 'hnd_webcap', 'marital', 'ethnic', 'age1', 'age2',
       'models', 'hnd_price', 'actvsubs', 'uniqsubs', 'opk_dat_Mean',
       'mtrcycle', 'truck', 'roam_Mean', 'recv_sms_Mean', 'blck_dat_Mean',
       'mou_pead_Mean', 'csa', 'da_Mean', 'da_Range', 'datovr_Mean',
       'datovr_Range', 'drop_dat_Mean', 'drop_vce_Mean', 'adjmou', 'totrev',
       'adjrev', 'avgrev', 'Customer_ID', 'vce_comp_pct'],
      dtype='object')

In [40]:
importance = reg.feature_importances_
importance = pd.DataFrame(importance, index=X_train.drop("Customer_ID",axis=1).columns, 
                          columns=["Importance"])

In [41]:
importance.head()

             Importance
mou_Mean       0.032326
totmrc_Mean    0.021357
rev_Range      0.021052
mou_Range      0.025320
change_mou     0.030969

In [42]:
importance.sort_values(by = 'Importance',ascending = False).head()

            Importance
csa           0.115144
eqpdays       0.059186
months        0.037463
mou_Mean      0.032326
change_mou    0.030969

In [43]:
all_features = X_train.drop("Customer_ID",axis=1).columns.tolist()
imp_features = importance[importance['Importance']>0]

In [44]:
print("Number of Features used to build model is " + str(len(all_features)))
print("Number of Important Features  is " + str(len(importance)))

Number of Features used to build model is 63
Number of Important Features  is 63

## Top Line Questions of Interest to Senior Management:

Q. What are the top five factors driving likelihood of churn at Mobicom?

In [67]:
print("A1.Top 5 factors driving the liklihood of churn are:")
print(importance.sort_values(by = 'Importance',ascending = False).head().index.tolist())

A1.Top 5 factors driving the liklihood of churn are:
['csa', 'eqpdays', 'months', 'mou_Mean', 'change_mou']

Q. Validation of survey findings. a) Whether “cost and billing” and “network and service quality” are important factors influencing churn behaviour.  b) Are data usage connectivity issues turning out to be costly? In other words, is it leading to churn?

In [46]:
print(importance.sort_values(by = 'Importance',ascending = False).index.tolist())

['csa', 'eqpdays', 'months', 'mou_Mean', 'change_mou', 'mou_Range', 'avg3mou', 'avgrev', 'avg3qty', 'rev_Mean', 'age1', 'totmrc_Mean', 'rev_Range', 'totrev', 'adjrev', 'totcalls', 'adjqty', 'avgqty', 'avgmou', 'avg6mou', 'hnd_price', 'crclscod', 'adjmou', 'vce_comp_pct', 'avg6qty', 'comp_vce_Mean', 'mou_opkv_Range', 'ethnic', 'ovrrev_Mean', 'ovrmou_Mean', 'age2', 'plcd_vce_Mean', 'area', 'owylis_vce_Range', 'drop_blk_Mean', 'iwylis_vce_Mean', 'drop_vce_Mean', 'drop_vce_Range', 'ccrndmou_Range', 'uniqsubs', 'roam_Mean', 'income', 'da_Mean', 'custcare_Mean', 'callwait_Mean', 'da_Range', 'models', 'prizm_social_one', 'callwait_Range', 'marital', 'hnd_webcap', 'actvsubs', 'datovr_Mean', 'mou_pead_Mean', 'asl_flag', 'datovr_Range', 'refurb_new', 'opk_dat_Mean', 'truck', 'drop_dat_Mean', 'recv_sms_Mean', 'mtrcycle', 'blck_dat_Mean']

In [47]:
print("Since, Mean number of dropped (failed) data calls as represented by variable drop_dat_Mean is one of the important features in the model, implies that data usage connectivity issues are turning out to be costly or leading to churn")

Since, Mean number of dropped (failed) data calls as represented by variable drop_dat_Mean is one of the important features in the model, implies that data usage connectivity issues are turning out to be costly or leading to churn

Q. Would you recommend rate plan migration as a proactive retention strategy?

Rate migration plan is recommended for customers from whom avg_rev is medium to high and churn probability is medium to high in the concerned avg rev segments

Q. What would be your recommendation on how to use this churn model for prioritisation of customers for a proactive retention campaigns in the future?

Q. What would be the target segments for proactive retention campaigns? Falling ARPU forecast is also a concern and therefore, Mobicom would like to save their high revenue customers besides managing churn. Given a budget constraint of a contact list of 20% of the subscriber pool, which subscribers should prioritized if “revenue saves” is also a priority besides controlling churn. In other words, controlling churn is the primary objective and revenue saves is the secondary objective.

From the data set given and based on the model built using Random Forest Classifier Machine Learning Algorithm we can use the results obtained for prioritisation of customers for proactive retention campaigns in the following way and target segments can be identified:-

In [48]:
print(X_test.avgrev.min())
print(X_test.avgrev.max())
print(X_test.avgrev.mean())

1.19
620.0
58.74580693815988

In [49]:
segment_data = pd.DataFrame({"cust_id":X_test.Customer_ID,"avgrev":X_test.avgrev})
segment_data = segment_data.reset_index()

In [50]:
segment_data.head()

   index  avgrev  cust_id
0   7023   32.50  1032452
1   8844   25.48  1092425
2    307   52.28  1092888
3   8041   39.27  1087181
4    877   54.60  1012248

In [51]:
segment_data["churn_probability"] = y_pred

In [52]:
segment_data.head()

   index  avgrev  cust_id  churn_probability
0   7023   32.50  1032452           0.231212
1   8844   25.48  1092425           0.203574
2    307   52.28  1092888           0.167385
3   8041   39.27  1087181           0.130502
4    877   54.60  1012248           0.299038

In [53]:
len(y_pred)

3315

In [54]:
X_test.shape

(3315, 64)

In [55]:
segment_data["churn_prediction"] = y_pred1

In [56]:
segment_data.head()

   index  avgrev  cust_id  churn_probability  churn_prediction
0   7023   32.50  1032452           0.231212                 0
1   8844   25.48  1092425           0.203574                 0
2    307   52.28  1092888           0.167385                 0
3   8041   39.27  1087181           0.130502                 0
4    877   54.60  1012248           0.299038                 1

In [57]:
segment_data['avg_rev_range'] = pd.qcut(segment_data['avgrev'], 3, labels=["Low","Medium","High"])

In [58]:
segment_data['churn_prob_range'] = pd.qcut(segment_data['churn_probability'], 3, labels=["Low","Medium","High"])

In [59]:
segment_data.head()

,index,avgrev,cust_id,churn_probability,churn_prediction,avg_rev_range,churn_prob_range
0,7023,32.50,1032452,0.231212,0,Low,Medium
1,8844,25.48,1092425,0.203574,0,Low,Medium
2,307,52.28,1092888,0.167385,0,Medium,Low
3,8041,39.27,1087181,0.130502,0,Medium,Low
4,877,54.60,1012248,0.299038,1,Medium,High

In [60]:
segment_data.shape

(3315, 7)

In [61]:
segment_data.churn_prediction.value_counts()

0    1978
1    1337
Name: churn_prediction, dtype: int64

In [62]:
row1 = [segment_data[(segment_data['avg_rev_range']=="Low") & (segment_data['churn_prob_range']=="Low")].shape[0],
       segment_data[(segment_data['avg_rev_range']=="Medium") & (segment_data['churn_prob_range']=="Low")].shape[0],
       segment_data[(segment_data['avg_rev_range']=="High") & (segment_data['churn_prob_range']=="Low")].shape[0]]
row1

[347, 371, 387]

In [63]:
row2 = [segment_data[(segment_data['avg_rev_range']=="Low") & (segment_data['churn_prob_range']=="Medium")].shape[0],
       segment_data[(segment_data['avg_rev_range']=="Medium") & (segment_data['churn_prob_range']=="Medium")].shape[0],
       segment_data[(segment_data['avg_rev_range']=="High") & (segment_data['churn_prob_range']=="Medium")].shape[0]]
row2

[401, 335, 369]

In [64]:
row3 = [segment_data[(segment_data['avg_rev_range']=="Low") & (segment_data['churn_prob_range']=="High")].shape[0],
       segment_data[(segment_data['avg_rev_range']=="Medium") & (segment_data['churn_prob_range']=="High")].shape[0],
       segment_data[(segment_data['avg_rev_range']=="High") & (segment_data['churn_prob_range']=="High")].shape[0]]
row3

[357, 399, 349]

In [65]:
grid = pd.DataFrame([row1,row2,row3])
grid.columns = ["Low","Medium","High"]
grid.index = ["Low","Medium","High"]
print("churn probability/Revenue: ")
grid

churn probability/Revenue:

        Low  Medium  High
Low     347     371   387
Medium  401     335   369
High    357     399   349

In [66]:

target_customers_list = [segment_data[(segment_data['avg_rev_range']=="High") & (segment_data['churn_prob_range']=="Medium")].cust_id.tolist()+
segment_data[(segment_data['avg_rev_range']=="Medium") & (segment_data['churn_prob_range']=="High")].cust_id.tolist()+
       segment_data[(segment_data['avg_rev_range']=="High") & (segment_data['churn_prob_range']=="High")].cust_id.tolist()]
print("Number of Customers to be targeted is " + str(len(target_customers_list[0])))
print("List of ID of Customers to be targeted:")
print(np.transpose(pd.DataFrame(target_customers_list)))

Number of Customers to be targeted is 1117
List of ID of Customers to be targeted:
            0
0     1000365
1     1084496
2     1017180
3     1000622
4     1073635
5     1030839
6     1009411
7     1000465
8     1043395
9     1036838
10    1003300
11    1046407
12    1074232
13    1001025
14    1073629
15    1057931
16    1053255
17    1043785
18    1037987
19    1036510
20    1018515
21    1018723
22    1002438
23    1042998
24    1091049
25    1082453
26    1024038
27    1060477
28    1020057
29    1088250
...       ...
1087  1046130
1088  1064972
1089  1053273
1090  1078893
1091  1090683
1092  1040898
1093  1027017
1094  1053783
1095  1098230
1096  1011031
1097  1029601
1098  1026619
1099  1095793
1100  1067784
1101  1033930
1102  1048257
1103  1016745
1104  1062335
1105  1067074
1106  1077438
1107  1034688
1108  1085881
1109  1054561
1110  1059843
1111  1094572
1112  1059971
1113  1085752
1114  1023910
1115  1089230
1116  1054489

[1117 rows x 1 columns]