In [35]:
# import os module 
import os 
  
# change the current working directory  
# to specified path 
os.chdir('E:\\mypractice\\Python\\Jigsaw\\capstone') 
  
# varify the path using getcwd() 
cwd = os.getcwd() 
  
# print the current directory 
print("Current working directory is:", cwd)

Current working directory is: E:\mypractice\Python\Jigsaw\capstone

In [36]:
import numpy as np
import pandas as pd

In [37]:
data = pd.read_csv("sampletelecomfinal (1).csv",header = 0)

In [38]:
data.shape

(13259, 79)

In [39]:
data_quality = pd.DataFrame(data.dtypes)
data_quality["variable"] = data_quality.index

In [40]:
data_quality.head()

                   0     variable
mou_Mean     float64     mou_Mean
totmrc_Mean  float64  totmrc_Mean
rev_Range    float64    rev_Range
mou_Range    float64    mou_Range
change_mou   float64   change_mou

In [41]:
data[data_quality['variable'][0]].isnull().sum()

26

In [42]:
missing = pd.DataFrame(data.isnull().sum())
data_quality['missing'] = missing[0]

data_quality['number of records'] = len(data)
data_quality['missing pct'] = data_quality['missing']/data_quality['number of records']

In [43]:
data_quality['variable'][1]

'totmrc_Mean'

In [44]:
len(data[data_quality['variable'][1]].unique())

2122

In [45]:
data_quality['unique records']=0

In [46]:
data_quality['unique records']=0

for i in range(len(data_quality['unique records'])):
    data_quality['unique records'][i] = len(data[data_quality['variable'][i]].unique())

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [48]:
data_quality.head()

,0,variable,missing,number of records,missing pct,unique records
mou_Mean,float64,mou_Mean,26,13259,0.001961,5107
totmrc_Mean,float64,totmrc_Mean,26,13259,0.001961,2122
rev_Range,float64,rev_Range,26,13259,0.001961,6128
mou_Range,float64,mou_Range,26,13259,0.001961,1639
change_mou,float64,change_mou,71,13259,0.005355,3639

In [49]:
print("Data Quality Report:")
print(data_quality.drop([0,"variable"],axis=1))

Data Quality Report:
                  missing  number of records  missing pct  unique records
mou_Mean               26              13259     0.001961            5107
totmrc_Mean            26              13259     0.001961            2122
rev_Range              26              13259     0.001961            6128
mou_Range              26              13259     0.001961            1639
change_mou             71              13259     0.005355            3639
drop_blk_Mean           0              13259     0.000000             307
drop_vce_Range          0              13259     0.000000              91
owylis_vce_Range        0              13259     0.000000             191
mou_opkv_Range          0              13259     0.000000            9256
months                  0              13259     0.000000              55
totcalls                0              13259     0.000000            5816
income               3254              13259     0.245418              10
eqpdays                 0              13259     0.000000            1207
custcare_Mean           0              13259     0.000000             137
callwait_Mean           0              13259     0.000000             143
iwylis_vce_Mean         0              13259     0.000000             311
callwait_Range          0              13259     0.000000              64
ccrndmou_Range          0              13259     0.000000             156
adjqty                  0              13259     0.000000            5761
ovrrev_Mean            26              13259     0.001961            3330
rev_Mean               26              13259     0.001961            9363
ovrmou_Mean            26              13259     0.001961            1233
comp_vce_Mean           0              13259     0.000000            1455
plcd_vce_Mean           0              13259     0.000000            1784
avg3mou                 0              13259     0.000000            2019
avgmou                  0              13259     0.000000           11911
avg3qty                 0              13259     0.000000             912
avgqty                  0              13259     0.000000           10190
avg6mou               402              13259     0.030319            1952
avg6qty               402              13259     0.030319             895
...                   ...                ...          ...             ...
opk_dat_Mean            0              13259     0.000000             107
mtrcycle              214              13259     0.016140               3
numbcars             6492              13259     0.489630               4
retdays             12825              13259     0.967268             285
truck                 214              13259     0.016140               3
wrkwoman            11590              13259     0.874123               2
roam_Mean              26              13259     0.001961            1431
recv_sms_Mean           0              13259     0.000000              30
blck_dat_Mean           0              13259     0.000000              22
mou_pead_Mean           0              13259     0.000000             752
churn                   0              13259     0.000000               2
solflag             12999              13259     0.980391               3
proptype             9432              13259     0.711366               7
mailresp             8235              13259     0.621088               2
cartype              9010              13259     0.679538               8
car_buy               214              13259     0.016140               3
children             8704              13259     0.656460               3
csa                     4              13259     0.000302             615
da_Mean                26              13259     0.001961             105
da_Range               26              13259     0.001961              40
datovr_Mean            26              13259     0.001961             224
datovr_Range           26              13259     0.001961             184
div_type            10782              13259     0.813183               4
drop_dat_Mean           0              13259     0.000000              28
drop_vce_Mean           0              13259     0.000000             205
adjmou                  0              13259     0.000000            9035
totrev                  0              13259     0.000000           12696
adjrev                  0              13259     0.000000           12651
avgrev                  0              13259     0.000000            6924
Customer_ID             0              13259     0.000000           13259

[79 rows x 4 columns]